body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #1D252A;
  position: fixed;
  left: 0;
  top: 0;
  width: 50px;
  height: 100vh;
  z-index: 10;
}

article {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #2C3437;
  width: calc(100vw - 450px);
  min-height: 100vh;
  z-index: 9;
}

aside {
  background-color: #1B2224;
  position: fixed;
  right: 0;
  top: 0;
  width: 400px;
  height: 100vh;
  z-index: 9;
}

/*Zone centrale -------------------------------------------------------*/

#baseX3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

#facticeNav{
  width: 50px;
  height: 100vh;

}

#facticeAside{
  width: 400px;
  height: 100vh;
}

/*Barre de recherche ------------------------------------------------*/

form#searchBox{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 20px 0;
  width: 100%;
}

input#searchBoxInput{
  border-radius: 7px;
  height: 40px;
  width: 25%;
  padding: 0 10px 0 10px;
  border: none; /*Supression des bordures par défauts d'un élément input*/
  border-bottom: 4px solid #191F21;
  background-color: #353d3f;
  transition: 0.5s ease-out;
  background-image: url("img/loupeB.png"); /*Définition de l'image de background*/
  background-size: 40px; /*Définition de la taille, la valeur "contain" aurait aussi marché*/
  background-repeat: no-repeat; /*Pas de répétiton sur l'axe x et y de l'image*/
  padding-left: 43px; /*Pour décaler le texte du "placeholder" (voir html) vers la droite,
  et ainsi éviter la superposition du texte et de l'image*/
  background-position: left; /*L'iimage colle le bord droit de l'élément (ici ce n'est pas obligatoire)*/
}

input#searchBoxInput:focus{ /*Le :focus dit que : quand la souris clique sur la barre de recherche,
  alors les propriété css suivantes sont appliquées*/
  outline: none; /*Supression du cadre qui apparait lors de du clique de la souris*/
  width: 40%;
  transition: 0.5s ease-out;/*Permet d'avoir une transition progressive*/
  background-image: url("img/loupeW.png") /*Changement de l'image aprés le clic, la couleur passe donc de noir à blanc*/
}

/*Nouvelles publications (postNew)---------------------------------------*/


.postNewFactice{ /*Container qui permet de placer le container "postNew" qui lui est en position absolue (mais sans coordonnées)*/
  width: 300px;
  height: 225px;
  background: none;
  margin-bottom: 10px;
}

.postNew{
  width: 300px;
  height: 225px;
  position: absolute; /*La position absolue permet que l'élément n'influe pas sur les autres, cela est utile pour le changement de hauteur
  au passage de la souris*/
}

.postNewImg{ /*Ici l'image n'est pas integrée avec une balise <img>, mais bien en tant que background d'un élément,
cela permet de pouvoir la rogner simplement, ce qui n'est pas possible avec la balise <img>. ATTENTION, pour comprendre ceci il faut ajouter
les propriétés des ID "newImg1, newImg2...." ci dessous.*/
  width: 300px;
  height: 125px;
  background-repeat: no-repeat;
  background-size: cover; /*Redimentionne l'image de sorte à occuper le max du container (ne pas laisser de vide),
  donc ici, l'image sera rognée en haut et en bas (car supérieur à 125px (height)), mais quelque soit l'image, elle occupera toute la largeur (300px)  */
  background-position: center;
  transition: 0.4s ease-out;
  filter: brightness(0.5); /*Applique un filtre sur le background (la luminosité est réduite à 50%)*/
}
.postNewImg:hover{
  filter: brightness(1); /*Change la valeur de la luminosité à 100% au survol de la souris*/
}

#newPost1{
  z-index: 4;
  box-shadow: none; /*Le fichier javaScript va appliquer une ombre (box shadow) au survol de la souris, ici elle est donc initialisée à une valeur nulle*/
  transition: 0.2s ease-out;
}
#newPost2{
  z-index: 3;
  box-shadow: none;
  transition: 0.2s ease-out;
}
#newPost3{
  z-index: 2;
  box-shadow: none;
  transition: 0.2s ease-out;
}
#newPost4{
  z-index: 1;
  box-shadow: none;
  transition: 0.2s ease-out;
}


.header-menu-button-close .header-menu-nav-icon {
    animation-name: burger_close;
    animation-duration: 0s;
    animation-delay: .25s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}


.header-menu-button-close .header-menu-nav-icon::before {
    animation-name: burger_before_close;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

.header-menu-button-close .header-menu-nav-icon::after {
    animation-name: burger_after_close;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

.header-menu-nav-icon {
    position: relative;
    top: 17px;
    margin-left: 10px;
    width: 21px;
    height: 1px;
    background: #006f9a;
}

.header-menu-nav-icon::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #006f9a;
    position: relative;
    bottom: 7px;
}

.header-menu-nav-icon::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #006f9a;
    position: relative;
    top: 6px;
    transition: .8s ease-in-out;
}

#newImg1{
  background-image: url(img/yolo.jpeg); /*C'est ici que l'image est définie en tant que background, cet ID est à ajouter à la classe "postNewImg" ci-dessus*/
}
#newImg2{
  background-image: url(img/yolo2.jpg);
}
#newImg3{
  background-image: url(img/yolo3.jpg);
}
#newImg4{
  background-image: url(img/yolo.jpeg);
}

.postNewTxt{ /*Zone de texte en dessous les nouveaux posts*/
  display: block;
  overflow: hidden;/*Cache le texte qui dépasse du cadre (car limité à 25px en hauteur)*/
  height: 25px; /*Cette valeur est remplacée par un fonction javaScript par "auto" lorsque
  la souris passe au dessus de sorte à afficher la totalité du texte.*/
  transition: 0.5s ease-out;
  padding: 5px;
}


#postGroupNew{
  column-count: 4;
  column-gap: 10px;
  padding: 20px 20px 10px 20px;
  box-shadow: 0 0 5px rgb(20,20,20) inset;
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  border-radius: 10px;

}



#postGroup{
  column-count: 4;
  max-width: calc(100vw - 450px);
  width: auto;
}

/*Publication (postGroup)------------------------------------------------*/

@media (max-width: 1100px) and (min-width: 0px)
{
  #postGroup
  {
    column-count: 1;
  }
  #postGroupNew
  {
    column-count: 1;
  }
}

@media (max-width: 1390px) and (min-width: 1100px)
{
  #postGroup
  {
    column-count: 2;
  }
  #postGroupNew
  {
    column-count: 2;
  }
}

@media (max-width: 1730px) and (min-width: 1390px)
{
  #postGroup
  {
    column-count: 3;
  }
  #postGroupNew
  {
    column-count: 2;
  }
}



.post{ /*Style du container du post*/
  display: block;
  margin-bottom: 25px;
  width: 300px;
  min-height: 50px;
  break-inside: avoid;
  page-break-inside: avoid;
}

.postHead{ /*En-tête du post*/
  display: inline-block;
  background-color: #191f21;
  width: 300px;
  height: 50px;
  border-radius: 7px 7px 0 0; /*Il s'agit ici d'un condensé des propriétés de type "border-top-left-radius",
  la première valeur est le coin en haut à gauche, ensuite on tourne dans le sens des aiguilles d'une montre.*/
}

.postImgContainer{ /*Container de l'image*/
  display: inline-block;
  width: 300px;
}

.postFoot{ /*Pied de post, la hauteur n'est pas fixe*/
  display: inline-block;
  width: 300px;
  min-height: 50px; /*Il s'agit d'une hauteur minimum*/
  background-color: white;
  border-radius: 0 0 7px 7px;
}

.postImg{ /*Propriétés de l'image, elle pourra prendre la hauteur qu'elle veut de sorte à
garder le même ratio (sauf après 500px )*/
  width: 300px;
  max-height: 500px;
}
